<p-confirmDialog header="Konfirmasi" icon="fa fa-question-circle"></p-confirmDialog>
<div class="card card-w-title">
  <div class="card card-form-header">
    <h1>Transaksi Penjualan</h1>
  </div>
  <form [formGroup]="formGroup">
    <div class="ui-g ui-fluid">
      <div class="ui-g-12">
        <p-fieldset legend="Data Penjualan" [toggleable]="true">
          <div class="ui-g-4">
            <div class="ui-g-12 ui-md-12">
              <label class="label-web-profile" for="input">No Transaksi </label>
              <input type="text" formControlName="noTransaksi" pInputText disabled />
            </div>
            <div class="ui-g-12 ui-md-12">
              <label class="label-web-profile" for="input">Tgl Transaksi </label>
              <p-calendar formControlName="tglTransaksi" dateFormat="dd/mm/yy" [defaultDate]="now" [showIcon]="true"
                [monthNavigator]="false" [yearNavigator]="false" yearRange="2000:2030" [showTime]="true"></p-calendar>
            </div>
          </div>
          <div class="ui-g-4">

            <div class="ui-g-12 ui-md-12">
              <label class="label-web-profile" for="input">Toko Transaksi </label>
              <p-dropdown formControlName="kdToko" [options]="listToko" [filter]="true" [autoWidth]="false">
              </p-dropdown>
            </div>
            <div class="ui-g-12 ui-md-12">
              <label class="label-web-profile" for="input">Customer </label>
              <p-dropdown formControlName="kdCustomer" [options]="listCustomer" [filter]="true" [autoWidth]="false">
              </p-dropdown>
            </div>
          </div>
          <div class="ui-g-4">

            <div class="ui-g-12 ui-md-12">
              <label class="label-web-profile" for="input">Pegawai Penerima </label>
              <p-dropdown formControlName="kdPegawai" [options]="listPegawai" [filter]="true" [autoWidth]="false">
              </p-dropdown>
            </div>
          </div>
        </p-fieldset>
      </div>
      <div class="ui-g-12">
        <p-fieldset legend="Produk" [toggleable]="true">
          <div class="ui-g-12">
            <div class="ui-g-12 ui-md-4">
              <label class="label-web-profile" for="input">Produk </label>
              <p-dropdown formControlName="produk" [options]="listProduk" [filter]="true" [autoWidth]="false"
                (onChange)="getPenerimaan()" [disabled]="isEdit">
              </p-dropdown>
            </div>
            <div class="ui-g-12 ui-md-2">
              <label class="label-web-profile" for="input">No Terima </label>
              <p-dropdown formControlName="noRecTerima" [options]="listNoTerima" [filter]="true" [autoWidth]="false"
                (onChange)="getStok()" [disabled]="isEdit">
              </p-dropdown>
            </div>
            <div class="ui-g-12 ui-md-1">
              <label class="label-web-profile" for="input">Stok </label>
              <input type="number" formControlName="stok" pInputText disabled>
            </div>
            <div class="ui-g-12 ui-md-2">
              <label class="label-web-profile" for="input">Satuan </label>
              <p-dropdown formControlName="kdSatuan" [options]="listSatuan" [filter]="true" [autoWidth]="false"
                (input)="onChangeSatuan($event.target.value)" [disabled]="isEdit">
              </p-dropdown>
            </div>
            <div class="ui-g-12 ui-md-1">
              <label class="label-web-profile" for="input">Qty Produk </label>
              <input type="number" formControlName="qtyProduk" pInputText (input)="onChangeQty($event.target.value)"
                [disabled]="isEdit" />
            </div>
          
            <div class="ui-g-12 ui-md-2">
              <label class="label-web-profile" for="input">Konversi </label>
              <input type="number" formControlName="konversi" pInputText disabled />
            </div>
            <div class="ui-g-12 ui-md-2">
              <label class="label-web-profile" for="input">Harga Jual </label>
              <input id="disabled-input" type="number" formControlName="hargaJual" pInputText
                (input)="onChangeHargaSatuan($event.target.value)" [disabled]="isEdit" />
            </div>
            <div class="ui-g-12 ui-md-2">
              <label class="label-web-profile" for="input">Harga Diskon </label>
              <input type="number" formControlName="hargaDiskon" pInputText
                (input)="OnChangeDiskon($event.target.value)" [disabled]="isEdit" />
            </div>
            <div class="ui-g-12 ui-md-2">
              <label class="label-web-profile" for="input">SubTotal </label>
              <input type="number" formControlName="total" pInputText disabled />
            </div>
          </div>
          <div class="ui-g-12">
            <div class="ui-g-1 ui-g-offset-9">
              <button pButton type="submit" label="Tambah" icon="fa-edit" (click)="tambah()"
                [disabled]="isEdit"></button>
            </div>
            <div class="ui-g-1">
              <button pButton type="button" label="Hapus" icon="fa-trash" (click)="hapus()"
                [disabled]="isEdit"></button>
            </div>
            <div class="ui-g-1">
              <button pButton type="button" label="Batal" icon="fa-refresh" (click)="resetPart()"
                [disabled]="isEdit"></button>
            </div>
          </div>
          <div class="ui-g-12">
            <p-dataTable [globalFilter]="gs" [value]="dataSource" [rows]="10" [paginator]="true"
              [rowsPerPageOptions]="[5,10,20]" selectionMode="single" [(selection)]="selected" [immutable]="false"
              (onRowSelect)="onRowSelect($event)">
              <p-column field="no" header="No" [style]="{'width':'30px'}"></p-column>
              <p-column field="kdProduk" header="Kode Produk"></p-column>
              <p-column field="namaProduk" header="Nama Produk"></p-column>
              <p-column field="namaSatuan" header="Satuan"></p-column>
              <p-column field="qtyProduk" header="Qty Produk"></p-column>
              <p-column field="hargaJual" header="Harga Jual"></p-column>
              <p-column field="hargaDiskon" header="Harga Diskon"></p-column>
              <p-column field="total" header="SubTotal"></p-column>
              <p-footerColumnGroup>
                <p-row>
                  <p-column footer="" colspan="6"></p-column>
                  <p-column footer="Total:"></p-column>
                  <p-column footer="{{subTotal}}"></p-column>
                </p-row>
              </p-footerColumnGroup>
            </p-dataTable>
          </div>
        </p-fieldset>

      </div>

      <div class="ui-g-12">
        <div class="ui-g-1 ui-g-offset-10">
          <button pButton type="submit" label="Simpan" icon="fa-save" (click)="simpan()"></button>
        </div>
        <!-- <div class="ui-g-1">
                    <button pButton type="button" label="Edit" icon="fa-flash" (click)="edit()"></button>
                </div> -->
        <!-- <div class="ui-g-1">
          <button pButton type="button" label="Hapus" icon="fa-trash" (click)="hapus()"></button>
        </div> -->
        <div class="ui-g-1">
          <button pButton type="button" label="Batal" icon="fa-refresh" (click)="resetAll()"></button>
        </div>
        <!-- <div class="ui-g-1">
                <button pButton type="button" label="Cetak" icon="fa-print" (click)="print()"></button>
            </div>
            <div class="ui-g-1">
                <p-splitButton label="Export" icon="fa-external-link"></p-splitButton>
            </div> -->
      </div>

    </div>
    <p-dialog header="Tambah" [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [modal]="true"
      [width]="750" [minWidth]="100" [minHeight]="120" [baseZIndex]="8000" [positionTop]="80" appendTo="body">
      <div class="ui-g-12">
        <div class="ui-g ui-fluid">
          <div class="ui-g-12">
            <p-fieldset legend="Pembayaran" [toggleable]="true">

              <div class="ui-g-6">
                <div class="ui-g-12 ui-md-12">
                  <label for="input">Total Tagihan</label>
                  <input type="text" pInputText formControlName="totalTagihan" disabled />
                </div>
                <div class="ui-g-12 ui-md-12">
                  <label for="input">Jumlah Bayar</label>
                  <input type="text" pInputText formControlName="totalTagihan" disabled />
                </div>
                <div class="ui-g-12 ui-md-12">
                  <label for="input">Terbilang</label>
                  <input type="text" pInputText formControlName="terbilang" disabled />
                </div>

              </div>
              <div class="ui-g-6">
                <div class="ui-g-12 ui-md-12">
                  <label for="input">Penerima</label>
                  <p-dropdown formControlName="kdPegawaiPenerima" [options]="listPegawai" [filter]="true"
                    [autoWidth]="false">
                  </p-dropdown>
                </div>
                <div class="ui-g-12 ui-md-12">
                  <label for="input">Tipe Pembayaran</label>
                  <p-dropdown formControlName="tipeBayar" [options]="listTipePembayaran" [filter]="true"
                    [autoWidth]="false">
                  </p-dropdown>
                </div>
                <div class="ui-g-12 ui-md-12">
                  <label for="input">Nominal</label>
                  <input type="text" pInputText formControlName="nominal" />
                </div>
              </div>
              <div class="ui-g-12">
                <div class="ui-g-3 ui-g-offset-9">
                  <button pButton type="submit" (click)="addPembayaran()" label="Tambah" icon="fa fa-plus"></button>
                </div>

              </div>
              <div class="ui-g-12">
                <p-dataTable [globalFilter]="gs" [value]="dataSourcePembayaran" [rows]="10" [paginator]="true"
                  [rowsPerPageOptions]="[5,10,20]" selectionMode="single" [(selection)]="selected" [immutable]="false"
                  (onRowSelect)="onRowSelect($event)">
                  <p-column field="no" header="No" [style]="{'width':'30px'}">
                      <ng-template let-index="rowIndex+1" pTemplate="body">
                        {{index}}
                      </ng-template>
                    </p-column>
                  <p-column field="tipepembayaran" header="Tipe Pembayaran"></p-column>
                  <p-column field="nominal" header="Nominal"></p-column>
                  <p-column [style]="{'width':'80px'}">
                    <ng-template let-h="rowData" pTemplate="body">
                      <!-- <button pButton type="button" (click)="editBayar(h)" icon="fa-edit"></button> -->
                      <button pButton type="button" (click)="hapusBayar(h)" icon="fa-trash"></button>
                    </ng-template>
                  </p-column>
                  <p-footerColumnGroup>
                    <p-row>
                      <p-column footer="" colspan="2"></p-column>
                      <p-column footer="Total:"></p-column>
                      <p-column footer="{{totalPembayaran}}"></p-column>
                    </p-row>
                  </p-footerColumnGroup>
                </p-dataTable>
              </div>
            </p-fieldset>
          </div>
          <div class="ui-g-12">
            <div class="ui-g-3 ui-g-offset-6" *ngIf="!isPrintBukti">
              <button pButton type="submit" (click)="savePembayaran()" label="Simpan" icon="fa fa-save"></button>
            </div>
            <div class="ui-g-3 ui-g-offset-6" *ngIf="isPrintBukti">
              <button pButton type="submit" (click)="loadHtmlPrint()" label="Cetak" icon="fa fa-print"></button>
            </div>
            <div class="ui-g-3">
              <button pButton type="button" (click)="tutupPembayaran()" label="Tutup"
                icon="fa fa-angle-left"></button>
            </div>
          </div>
        </div>
      </div>
    </p-dialog>
  </form>
</div>

<div id="bayar-section" style="display: none;">
  <div class="ui-g-12">
    <h2 style="text-align:center"> {{namaProfile}} </h2>
    <p style="text-align:center"> {{alamatProfile}}</p>
    <p style="font-weight:bold "> Faktur Pembayaran</p>
    <table style="border:0px;  width: 100%;margin-bottom:15px;margin-top:-5px">
      <tr>
        <th style="text-align:left">No Pembayaran : {{noPembayaran}}</th>
        <th style="text-align:right"> {{tglPembayaran}}</th>
      </tr>
      <tr>
        <th style="text-align:left">Penerima : {{penerimaPembayaran}} </th>
      </tr>
    </table>
    <table class="table_style">
      <tr class="tr_style">
        <th class="th_style">Nama Produk</th>
        <th class="th_style">Harga</th>
        <th class="th_style">Jumlah</th>
        <th class="th_style">Diskon</th>
        <th class="th_style">Total</th>
      </tr>
      <tr class="tr_style" *ngFor="let item of listBayar">
        <td class="th_style">{{item.namaproduk}}</td>
        <td class="th_style">{{item.hargajual}}</td>
        <td class="th_style">{{item.qty}}</td>
        <td class="th_style">{{item.hargadiskon}}</td>
        <td class="th_style">{{item.total}}</td>
      </tr>
    </table>
    <table style="border:0px;  width: 30%;margin-bottom:15px;margin-top:15px;margin-right:110px" align="right">
      <tr>
        <th style="text-align:left">Subtotal</th>
        <th style="text-align:right"> {{subtotalPembayaran}}</th>
      </tr>
      <tr>
        <th style="text-align:left">Pajak </th>
        <th style="text-align:right"> 0</th>
      </tr>
      <tr>
        <th style="text-align:left">Total Tagihan</th>
        <th style="text-align:right"> {{subtotalPembayaran}}</th>
      </tr>
      <tr>
        <th style="text-align:left">Total Bayar </th>
        <th style="text-align:right"> {{totalbayarNa}}</th>
      </tr>
      <!-- <tr>
        <th style="text-align:left">Kembali </th>
        <th style="text-align:right"> 46000</th>
      </tr> -->
    </table>
  </div>
</div>