<p-confirmDialog header="Konfirmasi" icon="fa fa-question-circle"></p-confirmDialog>
<div class="card card-w-title">
  <div class="card card-form-header">
    <h1>Daftar Detail Penerimaan Barang</h1>
  </div>

  <form [formGroup]="formGroup">
    <div class="ui-g ui-fluid">
      <div class="ui-g-12">
        <p-fieldset legend="Pencarian" [toggleable]="true">
          <div class="ui-g-12 ui-md-1">
            <label class="label-web-profile" for="input">No Penerimaan </label>
            <input type="text" formControlName="noPenerimaan" pInputText />
          </div>
          <div class="ui-g-12 ui-md-2">
            <label class="label-web-profile" for="input">No Faktur </label>
            <input type="text" formControlName="noFaktur" pInputText />
          </div>
          <div class="ui-g-12 ui-md-2">
            <label class="label-web-profile" for="input">Kode Produk </label>
            <input type="text" formControlName="kdProduk" pInputText />
          </div>
          <div class="ui-g-12 ui-md-2">
            <label class="label-web-profile" for="input">Nama Produk </label>
            <input type="text" formControlName="namaProduk" pInputText />
          </div>
          <div class="ui-g-12 ui-md-2" *ngIf="Showdata">
            <label class="label-web-profile" for="input">Pegawai </label>
            <p-dropdown formControlName="kdPegawai" [options]="listPegawai" [filter]="true" [autoWidth]="false">
            </p-dropdown>
          </div>
          <div class="ui-g-12 ui-md-2">
            <label class="label-web-profile" for="input">Periode Awal </label>
            <p-calendar formControlName="tglAwal" [defaultDate]="now" [showIcon]="true" [monthNavigator]="false"
              [yearNavigator]="false" yearRange="2000:2030" [showTime]="true">
            </p-calendar>
          </div>
          <div class="ui-g-12 ui-md-2">
            <label class="label-web-profile" for="input">Periode Akhir </label>
            <p-calendar formControlName="tglAkhir" [defaultDate]="now" [showIcon]="true" [monthNavigator]="false"
              [yearNavigator]="false" yearRange="2000:2030" [showTime]="true">
            </p-calendar>
          </div>
          <div class="ui-g-12 ui-md-1" style="margin-top:15px">
            <button pButton type="submit" label="Cari" icon="fa-search" (click)="cari()"></button>
          </div>
        </p-fieldset>
      </div>
      <div class="ui-g-12">
        <p-dataTable [globalFilter]="gs" [value]="dataSource" [rows]="10" [paginator]="true" [pageLinks]="3"
          [rowsPerPageOptions]="[5,10,20]" selectionMode="single" [(selection)]="selected" [loading]="loading"
          loadingIcon="fa fa-spinner" (onRowSelect)="onRowSelect($event)" scrollable="true" expandableRows="true">

          <p-column header="No" [style]="{'width':'40px'}">
            <ng-template let-index="rowIndex+1" pTemplate="body">
              {{index}}
            </ng-template>
          </p-column>
          <p-column field="nopenerimaan" header="No Penerimaan" [sortable]="true"></p-column>
          <p-column field="nofaktur" header="Nomor Faktur" [sortable]="true"></p-column>
          <p-column field="tglpenerimaan" header="Tgl Penerimaan" [sortable]="true"></p-column>
          <p-column field="id" header="Kode Produk" [sortable]="true"></p-column>
          <p-column field="namaproduk" header="Nama Produk" [sortable]="true"></p-column>
          <p-column field="qtypenerimaan" header="Jumlah Terima" [sortable]="true"></p-column>
          <p-column field="satuanstandard" header="Satuan" [sortable]="true"></p-column>
          <p-column field="hargapenerimaan" header="Harga Terima" [style]="{'text-align':'right'}" [sortable]="true"></p-column>
          <p-column field="hargajual" header="Harga Jual" [style]="{'text-align':'right'}" [sortable]="true"></p-column>
          <p-column field="namalengkap" header="Penerima" [sortable]="true"></p-column>
          <p-column field="namatoko" header="Toko" [sortable]="true"></p-column>
        
        </p-dataTable>
      </div>
      <div class="ui-g-12 ">
        <div class="ui-g-1 ui-g-offset-10">

          <button type="button" pButton icon="fa fa-print" (click)="cetak()" label="Cetak"></button>
        </div>
        <div class="ui-g-1">
          <p-splitButton label="Export" icon="fa fa-external-link" [model]="items"></p-splitButton>
        </div>
      </div>
    </div>
  </form>
</div>