<p-confirmDialog header="Konfirmasi" icon="fa fa-question-circle"></p-confirmDialog>
<div class="card card-w-title">
  <div class="card card-form-header">
    <h1>Map Produk To Satuan Standar</h1>
  </div>
  <!-- <form [formGroup]="formGroup"> -->
  <div class="ui-g ui-fluid">
    <div class="ui-g-6">
      <p-fieldset legend="Satuan Asal" [toggleable]="true">
        <div class="ui-g-12">
          <div style="text-align: left;margin-left: 10px" class="ng-star-inserted"><i class="fa fa-search"
              style="margin:4px 4px 0px 0"></i><input pinputtext="" placeholder="Filter Data" size="50"
              style="width:auto" type="text" #gs class="ui-inputtext ui-corner-all ui-state-default ui-widget">
          </div>
        </div>
        <div class="ui-g-12">
          <p-dataTable [globalFilter]="gs" [value]="dataSource" [rows]="10" [paginator]="true" [pageLinks]="3"
            [rowsPerPageOptions]="[5,10,20]" selectionMode="single" [(selection)]="selected">
            <p-column field="no" header="No" [style]="{'width':'30px'}">
              <ng-template let-index="rowIndex+1" pTemplate="body">
                {{index}}
              </ng-template>
            </p-column>
            <p-column field="id" header="ID"></p-column>
            <p-column field="format" header="Format"></p-column>
            <p-column field="jeniskode" header="Jenis Kode"></p-column>
            <p-column [style]="{'width':'80px'}">
              <ng-template let-h="rowData" pTemplate="body">
                <button pButton type="button" (click)="edit(h)" icon="fa-edit"></button>
                <button pButton type="button" (click)="hapus(h)" icon="fa-trash"></button>
              </ng-template>
            </p-column>
          </p-dataTable>
        </div>
      </p-fieldset>
    </div>
    <div class="ui-g-6">
      <p-fieldset legend="Satuan Tujuan" [toggleable]="true">
        <div class="ui-g-12">
          <div style="text-align: left;margin-left: 10px" class="ng-star-inserted"><i class="fa fa-search"
              style="margin:4px 4px 0px 0"></i><input pinputtext="" placeholder="Filter Data" size="50"
              style="width:auto" type="text" #gs class="ui-inputtext ui-corner-all ui-state-default ui-widget">
          </div>
        </div>
        <div class="ui-g-12">
          <p-dataTable [globalFilter]="gs" [value]="dataSource" [rows]="10" [paginator]="true" [pageLinks]="3"
            [rowsPerPageOptions]="[5,10,20]" selectionMode="single" [(selection)]="selected">
            <p-column field="no" header="No" [style]="{'width':'30px'}">
              <ng-template let-index="rowIndex+1" pTemplate="body">
                {{index}}
              </ng-template>
            </p-column>
            <p-column field="id" header="ID"></p-column>
            <p-column field="format" header="Format"></p-column>
            <p-column field="jeniskode" header="Jenis Kode"></p-column>
            <p-column [style]="{'width':'80px'}">
              <ng-template let-h="rowData" pTemplate="body">
                <button pButton type="button" (click)="edit(h)" icon="fa-edit"></button>
                <button pButton type="button" (click)="hapus(h)" icon="fa-trash"></button>
              </ng-template>
            </p-column>
          </p-dataTable>
        </div>
      </p-fieldset>
    </div>
    <!-- <div class="ui-g-12 ">
        <div class="ui-g-1">
          <button type="button" pButton icon="fa fa-plus" (click)="showDialogToAdd()" label="Tambah"></button>
        </div>
      </div> -->

  </div>
  <!-- </form> -->
</div>