<p-confirmDialog header="Konfirmasi" icon="fa fa-question-circle"></p-confirmDialog>
<div class="card card-w-title">
  <div class="card card-form-header">
    <h1>Daftar Penerimaan Kasir</h1>
  </div>

  <form [formGroup]="formGroup">
    <div class="ui-g ui-fluid">
      <div class="ui-g-12">
        <p-fieldset legend="Pencarian" [toggleable]="true">
          <div class="ui-g-12 ui-md-1">
            <label class="label-web-profile" for="input">No Pembayaran </label>
            <input type="text" formControlName="noPembayaran" pInputText />
          </div>
          <div class="ui-g-12 ui-md-2">
            <label class="label-web-profile" for="input">Kasir </label>
            <p-dropdown formControlName="kdPegawai" [options]="listKasir" [filter]="true" [autoWidth]="false">
            </p-dropdown>
          </div>
          <div class="ui-g-12 ui-md-2">
            <label class="label-web-profile" for="input">Periode Awal </label>
            <p-calendar formControlName="tglAwal" [defaultDate]="now" [showIcon]="true" [monthNavigator]="false"
              [yearNavigator]="false" yearRange="2000:2030" [showTime]="true">
            </p-calendar>
          </div>
          <div class="ui-g-12 ui-md-2">
            <label class="label-web-profile" for="input">Periode Akhir </label>
            <p-calendar formControlName="tglAkhir" [defaultDate]="now" [showIcon]="true" [monthNavigator]="false"
              [yearNavigator]="false" yearRange="2000:2030" [showTime]="true">
            </p-calendar>
          </div>
          <div class="ui-g-12 ui-md-1" style="margin-top:15px">
            <button pButton type="submit" label="Cari" icon="fa-search" (click)="cari()"></button>
          </div>
        </p-fieldset>
      </div>
      <div class="ui-g-12">
        <p-dataTable [globalFilter]="gs" [value]="dataSource2" [rows]="10" [paginator]="true" [pageLinks]="3"
          [rowsPerPageOptions]="[5,10,20]" selectionMode="single" [(selection)]="selected" [loading]="loading"
          loadingIcon="fa fa-spinner" (onRowSelect)="onRowSelect2($event)" scrollable="true" expandableRows="true">
          <p-column header="No" [style]="{'width':'40px'}">
            <ng-template let-index="rowIndex+1" pTemplate="body">
              {{index}}
            </ng-template>
          </p-column>
          <p-column field="csid" header="Id Customer" [sortable]="true"></p-column>
          <p-column field="nopembayaran" header="No Pembayaran" [style]="{'text-align':'right'}" [sortable]="true"></p-column>
          <p-column field="namacustomer" header="Nama Customer" [style]="{'text-align':'right'}" [sortable]="true"></p-column>
          <p-column field="tipepembayaran" header="Tipe Pembayaran" [style]="{'text-align':'right'}" [sortable]="true"></p-column>
          <p-column field="tglpembayaran" header="Tgl Pembayaran" [style]="{'text-align':'right'}" [sortable]="true"></p-column>
          <p-column field="subtotalbayar" header="Sub Total Bayar" [style]="{'text-align':'right'}" [sortable]="true"></p-column>
        </p-dataTable>
      </div>
      <div class="ui-g-4 ui-g-offset-8">
        <p-dataTable [globalFilter]="gs" [value]="dataSource" [rows]="10" [paginator]="true" [pageLinks]="3"
          [rowsPerPageOptions]="[5,10,20]" selectionMode="single" [(selection)]="selected" [loading]="loading"
          loadingIcon="fa fa-spinner" (onRowSelect)="onRowSelect($event)" scrollable="true" expandableRows="true">
          <!-- <p-column header="No" [style]="{'width':'40px'}">
            <ng-template let-index="rowIndex+1" pTemplate="body">
              {{index}}
            </ng-template>
          </p-column> -->
          <!-- <p-column field="tipepembayaran" header="Tipe Pembayaran" [sortable]="true"></p-column> -->
          <p-column field="totalpenerimaan" header="Total Penerimaan" [style]="{'text-align':'right'}" [sortable]="true"></p-column>
        </p-dataTable>
      </div>
      <div class="ui-g-12 ">
        <!-- <div class="ui-g-1 ui-g-offset-7">
          <button type="button" pButton icon="fa fa-plus" [routerLink]="['/penerimaan-barang-supplier']"
            label="Tambah"></button>
        </div> -->
        <!-- <div class="ui-g-1 ui-g-offset-10">
          <button type="button" pButton icon="fa fa-dollar" (click)="simpanSetor()" label="Setor"></button>
        </div> -->
        <div class="ui-g-1 ui-g-offset-11">
          <button type="button" pButton icon="fa fa-dollar" (click)="closing()" label="Closing"></button>
        </div>
        <!-- <div class="ui-g-2">
          <button type="button" pButton icon="fa fa-trash" (click)="batalBayar()" label="Batal Setor"></button>
        </div> -->
      </div>
    </div>
  </form>
</div>