<p-confirmDialog header="Konfirmasi" icon="fa fa-question-circle" width="400"></p-confirmDialog>
<div class="card card-w-title">
  <div class="card card-form-header">
    <h1>Master Produk</h1>
  </div>
  <form [formGroup]="formGroup">
    <div class="ui-g ui-fluid">
      <div class="ui-g-12">
        <p-fieldset legend="Daftar Produk" [toggleable]="true">
          <div class="ui-g-12">
            <div style="text-align: left;margin-left: 10px" class="ng-star-inserted"><i class="fa fa-search"
                style="margin:4px 4px 0px 0"></i><input pinputtext="" placeholder="Filter Data" size="50"
                style="width:auto" type="text" #gs class="ui-inputtext ui-corner-all ui-state-default ui-widget">
            </div>
          </div>
          <div class="ui-g-12">
            <p-dataTable [globalFilter]="gs" [value]="dataSource" [rows]="10" [paginator]="true" [pageLinks]="3"
              [rowsPerPageOptions]="[5,10,20]" selectionMode="single" [(selection)]="selected">
              <!-- (onRowSelect)="onRowSelect($event)" -->
              <p-column field="namaproduk" header="Nama Produk"></p-column>
              <p-column field="kdexternal" header="Kd External"></p-column>
              <p-column field="detailjenisproduk" header="Datail Jenis Produk"></p-column>
              <p-column field="satuanstandard" header="Satuan Stadard"></p-column>
              <p-column field="statusenabled" header="Status Enabled"></p-column>
              <p-column [style]="{'width':'80px'}">
                <ng-template let-h="rowData" pTemplate="body">
                  <button pButton type="button" (click)="edit(h)" icon="fa-edit"></button>
                  <button pButton type="button" (click)="hapus(h)" icon="fa-trash"></button>
                </ng-template>
              </p-column>
            </p-dataTable>
          </div>
        </p-fieldset>
      </div>
      <div class="ui-g-12 ">
        <div class="ui-g-1">
          <button type="button" pButton icon="fa fa-plus" (click)="showDialogToAdd()" label="Tambah"></button>
        </div>
        <!-- <div class="ui-g-1">
          <button type="button" pButton icon="fa fa-edit" (click)="showDialogToAdd()" label="Ubah"></button>
        </div>
        <div class="ui-g-1">
          <button type="button" pButton icon="fa fa-trash" (click)="showDialogToAdd()" label="Hapus"></button>
        </div> -->
      </div>
      <p-dialog header="Tambah" [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [modal]="true"
        [width]="700" [minWidth]="100" [minHeight]="80" [baseZIndex]="8000" [positionTop]="80" appendTo="body">
        <div class="ui-g-12">
          <div class="ui-g ui-fluid">
            <!-- <form [formGroup]="formTambah" (ngSubmit)="simpan()"> -->
            <div class="ui-g-12">
              <p-fieldset legend="Masukan Data" [toggleable]="true">
                <div class="ui-g-6">
                  <div class="ui-g-12 ui-md-12">
                    <label for="input">Nama Produk</label>
                    <input type="text" formControlName="namaProduk" pInputText />
                  </div>
                  <div class="ui-g-12 ui-md-12">
                    <label for="input">Kd External</label>
                    <input type="text" pInputText formControlName="kdExternal" />
                  </div>
                  <div class="ui-g-12 ui-md-12">
                    <label for="input">Detail Jenis Produk</label>
                    <p-dropdown [filter]="true" [options]="listDetailJenisProduk" [autoWidth]="false" formControlName="detailJenisProduk">
                    </p-dropdown>
                  </div>

                </div>

                <div class="ui-g-6">
                  <div class="ui-g-12 ui-md-12">
                    <label for="input">Satuan Standard</label>
                    <p-dropdown [filter]="true" [options]="listSatuanStandard" [autoWidth]="false" formControlName="satuanStandard">
                    </p-dropdown>
                  </div>
                  <div class="ui-g-12 ui-md-12">
                    <label for="input">Status Enabled</label>
                    <input type="text" pInputText formControlName="statusEnabled" />
                  </div>
                </div>
              </p-fieldset>
            </div>
            <div class="ui-g-12">
              <div class="ui-g-3 ui-g-offset-6">
                <button pButton type="submit" (click)="save()" label="Simpan" icon="fa fa-save"></button>
              </div>
              <div class="ui-g-3">
                <button pButton type="button" (click)="displayDialog = false" label="Tutup"
                  icon="fa fa-angle-left"></button>
              </div>
            </div>
            <!-- </form> -->
          </div>
        </div>
      </p-dialog>
    </div>
  </form>
</div>